/* Common CSS (Applies to all pages) */

text {
    font-family: Sans-serif;
}

h1 {
    font-size: 50px;
    color: black;
    background-color: #ECDAD9;
    border-top: 1rem solid black;
    border-bottom: 1rem solid black;
    text-align: center;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0rem;
}

body {
    background-color: black;
    padding: 0rem;
    margin: 0rem;
}

button {
    background-color: #ECDAD9;
    color: black;
}

a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

a:link {
    color: #ECDAD9;
    cursor: pointer;
}

a:visited {
    color: #B58E80;
}

a:hover {
    color: #1B3E4B;
}

.active {
    background-color: #04AA6D;
}